<h2>Lista de alunos</h2>
<form>
  <p>Nome: <input type="text" name="name" [(ngModel)]="aluno.nome" /></p>
  <p>Idade: <input type="text" name="age" [(ngModel)]="aluno.idade" /></p>
  <button type="button" (click)="Cadastrar()">Cadastrar</button>
</form>
<hr />
<table>
  <tr>
    <th>ID</th>
    <th>Nome</th>
    <th>Idade</th>
  </tr>
  <tr *ngFor="let x of alunos">
    <th>{{ x.id }}</th>
    <th>{{ x.nome }}</th>
    <th>{{ x.idade }}</th>
    <td>
      <button (click)="Atualizar(x.id)">Atualizar</button>
      <button (click)="Excluir(x.id)">Excluir</button>
    </td>
  </tr>
</table>
